.about {
  &__eclipse {
    background: rgba(12, 30, 78, 0.3);
  }

  &__title {
    h1 {
      font-family: $font-poppins;
      font-weight: bold;
      color: rgba(251, 251, 252, 0.2);
    }
    &__presentation {
      font-family: $font-poppins;
      font-weight: normal;
      font-size: 20px;
      color: white;
    }
  }

  &__goal {
    margin-top: 6em !important;
    &__title {
      font-family: $font-poppins;
      font-weight: bold;
      color: rgba(251, 251, 252, 0.15);
      transform: rotate(-90deg);
    }
    &__first-text,
    &__second-text {
      font-family: $font-poppins;
      font-weight: 400;
      font-size: 20px;
      line-height: 1.3em;
      color: white;
    }
    &__second-text {
      .chakra-link {
        color: palevioletred !important;
        font-weight: 700 !important;
      }
    }
  }

  &__button {
    margin-top: 5em !important;
    margin-bottom: 10em !important;
  }
}
