# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

TODO.md
studio/sanity.json
sanity.json

# dependencies
node_modules
/.pnp
.pnp.js
bower_components
/.vscode/
studio/dist
public/studio

# sanity
package-lock.json

# vercel
.vercel

# testing
/coverage

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

# next.js
/.next/
/out/

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

### NextJS ###
# Next build dir
.next/

# End of https://www.toptal.com/developers/gitignore/api/nextjs