.projects {
  margin-bottom: 6em !important;
  &__title {
    h1 {
      font-family: $font-poppins;
      font-weight: bold;
      color: $font-titles;
    }
  }
  &__list {
    padding-bottom: 10px;
  }
}
