.about {
  padding-bottom: 10em !important;

  &__eclipse2 {
    box-shadow: inset 0px 22px 0px 2px rgba(0, 0, 0, 0.25);
  }

  &__title {
    h1 {
      font-family: $font-poppins;
      font-weight: bold;
    }
    &__presentation {
      font-family: $font-poppins;
      font-weight: normal;
      font-size: 20px;
    }
  }

  &__goal {
    margin-top: 6em !important;
    &__title {
      font-family: $font-poppins;
      font-weight: bold;
      transform: rotate(-90deg);
    }
    &__first-text,
    &__second-text {
      font-family: $font-poppins;
      font-weight: 400;
      font-size: 20px;
      line-height: 1.3em;
    }
    &__second-text {
      .chakra-link {
        color: palevioletred !important;
        font-weight: 700 !important;
      }
    }
  }

  &__button {
    margin-top: 5em !important;
    margin-bottom: 12em !important;
  }
}
